body {
    background: #e5e5e5;
    font-family: Ropa Sans;
  }
  
  * {
    margin: 0%;
    padding: 0%;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;
    min-width: 1200px;
    margin: auto;
  }
  
  header {
    background: url("../assets/sw-header.jpg") center center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: cover;
    height: 353px;
  }
  
  .swtext {
    text-align: justify;
    width: 380px;
    height: 143px;
    left: 67px;
    top: 105px;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 69px;
    letter-spacing: 0.15em;
    margin-left: 30px;
    color: #ffd600;
  }
  
  main {
    display: flex;
    justify-content: center;
    height: 677px;
    background: #424242;
  }
  
  h2 {
    display: flex;
    height: 60px;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 6px;
    justify-content: center;
    align-items: center;
    background: rgba(83, 85, 86, 1);
  }
  
  .right h2 {
    background-color: rgba(116, 134, 135, 1);
  }
  
  h2 {
    color: rgba(255, 214, 0, 1);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .right h3 {
    padding: 20px 0px 0px 20px;
    font-weight: lighter;
    font-size: xx-large;
  }

  .character li,
  .charinfo li,
  .planetinfo li {
    list-style: none;
    font-weight: lighter;
  }

  .planetinfo li,
  .charinfo li{
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 15px;
    padding-left: 20px;
  }

  .character li:nth-child(odd){
    background-color: rgba(142, 142, 142, 1);
    color: white;
  }

  .character li:hover,
  .character li:nth-child(odd):hover {
  background-color: #424242;
  color: white;
  }
 
  .character li {
    cursor: pointer;
    padding: 8px;
  }

  .charactername{
    background-color: lightgray;
  }

  .charinfo {
    background-color: lightgrey;
    color: black;
    height:230px;
  }

  .planetname {
    background-color: rgba(142, 142, 142, 1);
    color: white;
  }
  
  .planetinfo {
    background-color: rgba(142, 142, 142, 1);
    color: white;
  }
  
  .boxwrapper {
    display: flex;
    flex-direction: row;
    flex-flow: wrap-reverse;
    margin-bottom: 50px;
  }
  
  .left,
  .right {
    margin: 50px;
    width: 350px;
    height: 624px;
    background-color: lightgray;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .right {
    background-color:rgb(142, 142, 142, 1);
  }

  .pagination {
    display: flex;
    justify-content: center;
  }

  .pagination img {
    cursor: pointer;
  }
  
  .loader {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(211, 211, 211, 0);
    border-top: 3px solid rgb(142, 142, 142);
    animation: spin 2s linear infinite;
    margin: auto;
  }
    
  @keyframes spin{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

 